*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*==================================================================*/
/*=========================[JOEL'S VISUALISATION]===================*/ 
/*==================================================================*/
.visualisation-joel > .visualisation-header{
  position: relative;
  color: black;
}

.visualisation-joel > h1{
  margin-top: 3%;
}
.visualisation-joel > h2{
  margin-top: 1%;
  margin-bottom: 3%;
}


/**************************************************/
/*************[GERMAN-VISUALISATION]***************/
/**************************************************/

.flex-container-germany-visu{
  position: relative;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  border: 1px solid black;

}

.flex-child-germany-visu{
  border: 1px solid black;

  position: relative;

  display: flex;
  flex-direction: row;
}

.flex-child-germany-visu > div{
  border: 1px solid black;
}


/********************************************/
/***************[FILTER-BUTTONS]*************/
/********************************************/

/**************[REVIEW-BOARD]***************/
.flex-container-review-board{
  position: relative;
  display: flex;
  flex-direction: column;
  }

.flex-child-review-board{
  padding: 10px;
  border: 1px solid white;
  background-color: rgb(123, 185, 220);;
  
  opacity: 0.85;
  color: white;
  transform: all 0.5s ease;
}

.flex-child-review-board.active{
  color: red;
  opacity: 1;
  transform: all 0.5s ease;
}

/**************[AXIS]***************/
.flex-container-axis{
  position: relative;
  display: flex;
  flex-direction: column;
  }
.flex-child-axis{
  padding: 10px;
  border: 1px solid white;
  background-color: rgb(123, 185, 220);;
  
  opacity: 0.85;
  color: white;
  transform: all 0.5s ease;
}

.flex-child-axis.active{
  color: red;
  opacity: 1;
  transform: all 0.5s ease;
}


/*************************************/
/************[GERMANY MAP]************/
/*************************************/

.background {
  fill: none;
  /*fill: rgb(239, 237, 245);*/
  stroke: black;
  stroke-width: 3.5px;
  pointer-events: all;
}

#states {
  fill: rgb(188, 189, 220);
  stroke: #fff;
  stroke-width: 1.25px;
  opacity: 0.85;
}

#states .active {
  /*fill: lightblue;*/
  fill: rgb(117, 107, 177);
}

.graticuleLine {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
}
/*************************************/
/**********[RADAR-DIAGRAMM]***********/
/*************************************/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  cursor: default;
}

.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}


/********************************************/
/***************[RADIO-BUTTONS]**************/
/********************************************/
.radio-buttons{

}
.radio-buttons > form > fieldset{
  border: none;
}
.radio-buttons > form > fieldset > div{
  position: relative;
  text-align: left;
}

/********************************************/
/***************[CHECKBOX]******************/
/********************************************/
.checkbox-buttons{
  
}
.checkbox-buttons > form > fieldset{
  border: none;
}
.checkbox-buttons > form > fieldset > div{
  position: relative;
  text-align: left;
}

/********************************************/
/************[GRID ABS. Value]***************/
/********************************************/
.grid-container-absolute-values{
  position: relative;
  top: 30%;

  display: grid;
  grid-template-columns: auto auto auto;
  
  border: 1px solid black;
}

.grid-item-absolute-values{
  border: 1px solid rgba(0, 0, 0, 0.8);
  text-align: left;
  padding: 5%;
}

.grid-item-absolute-values.header{
  font-weight: bold;
}